%div.hero-unit
  %h1
    Thanks for popping by!
  %p
    I've decided to stop maintaining SMU Unspam. I will be glad to hear from you if you find SMU Unspam useful. Then I may restart
    this project in future. You can contact at: me (at) tommi.co</a>
    %p
      %a{href: "/"}
        Back to main


